.footer{
    background-color: #ededed;
    height: 40px;
    width: 1100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    color: #515356;
}
.text1{
    align-self: flex-end;
}